[submodule "pk_project"]
	path = pk_project
	url = https://github.com/BeentageBand/pk_project.git
[submodule "utilities/pk_object"]
	path = utilities/pk_object
	url = https://github.com/BeentageBand/pk_object
[submodule "system/pks_ipc"]
	path = system/pks_ipc
	url = /home/puch/pks/bare/pks_ipc/
[submodule "utilities/pks_template_utils"]
	path = utilities/pks_template_utils
	url = https://github.com/BeentageBand/pks_template_utils
