[submodule "project_make"]
	path = project_make
	url = git@github.com:BeentageBand/project_make
[submodule "utilities/cobject"]
	path = utilities/cobject
	url = git@github.com:BeentageBand/cobject
[submodule "utilities/template"]
	path = utilities/template
	url = git@github.com:BeentageBand/template
[submodule "system/ipc"]
	path = system/ipc
	url = git@github.com:BeentageBand/ipc
[submodule "system/application"]
	path = system/application
	url = git@github.com:BeentageBand/application
[submodule "utilities/state_machine"]
	path = utilities/state_machine
	url = git@github.com:BeentageBand/state_machine
[submodule "utilities/dbg_log"]
	path = utilities/dbg_log
	url = git@github.com:BeentageBand/dbg_log
[submodule "utilities/gtest_fwk"]
	path = utilities/gtest_fwk
	url = git@github.com:BeentageBand/gtest_fwk
